<script lang="ts" setup>
import { ref } from "vue";
import { useRoute } from "vue-router";
import type { Module } from "../store";
import { useStore } from "../store";
import ReInput from "@/components/ui/ReInput.vue";
import ReButton from "@/components/ui/ReButton.vue";

const route = useRoute();
const store = useStore();
const moduleName = route.params.moduleName as string;
const isAdding = ref(!moduleName);
const defaultModule: () => Module = () => ({
  id: "",
  title: "",
  name: "",
});

const module = ref<Module>(
  isAdding.value
    ? defaultModule()
    : (store.getModuleByName(moduleName) as Module)
);
const submit = async () => {
  await store.setModule(module.value);
};
if (module.value.id) {
  store.getQuestions(module.value.id);
}

const submitQuestion = () => {
  if (module.value.id) {
    store.addQuestion(module.value.id, {
      question: newQuestion.value,
      questionType: 0,
    });
    newQuestion.value = "";
  }
};

const newQuestion = ref("");
</script>
<template>
  <article :aria-busy="!module">
    <h2>Basfakta</h2>
    <form @submit.prevent="submit" v-if="module">
      <ReInput v-model="module.title" :is-readonly="!isAdding" label="Title" />
      <ReInput
        v-model="module.name"
        :is-readonly="!isAdding"
        label="Kortname"
      />
      <ReButton type="submit" v-if="isAdding"> Skapa </ReButton>
    </form>
    <template v-if="module.id">
      <h2>Frågor</h2>
      <div
        v-for="question in store.questions[module.id || '']"
        :key="question.id"
        class="question"
      >
        <p style="flex-grow: 1">{{ question.question }}</p>
        <div>
          <ReButton
            @click="store.removeQuestion(module.id || '', question.id || '')"
          >
            🗑
          </ReButton>
        </div>
      </div>
      <h3>Lägg till fråga</h3>
      <form @submit.prevent="submitQuestion">
        <ReInput v-model="newQuestion" label="Fråga" />
        <ReButton type="submit"> Lägg till </ReButton>
      </form>
    </template>
  </article>
</template>

<style>
.question {
  display: flex;
  justify-content: space-between;
}
</style>
